*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
/* Start screen */
.start-screen{
    width: 70%;
    height: 100vh;
    background-color: lightblue;
    margin: 0 auto;
    padding-top: 1vh;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45%;
    justify-content: center;
}

.categories div{
    width: 40%;
    height: 40%;
    margin: 15px 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    box-shadow: 5px 5px 5px black;
}

.decksize{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    height: 30vh;
    width: 80%;
    margin: 0 auto 2vh auto;
    box-sizing: border-box;
}

#mixed{
    /* grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 15px; */
    font-size: 20px;
}


.decksize div{
    background-color: wheat;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    transition: .5s;
}

.start{
    width: 80%;
    height: 20vh;
    background-color: orangered;
    border-radius: 25px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    margin: 0 auto 1vh auto;
    box-shadow: 5px 5px 5px black;
    transition: .5s;
    pointer-events: none;
}

.active{
    background-color: orange !important;
    transform: scale(0.9);
    box-shadow: none !important;
}

.cat:hover, .size:hover, .start:hover, #mixed:hover, #records:hover{
    transform: scale(0.9);
    box-shadow: 2px 2px 2px black;
}

/* Game screen */
.game-screen{
    width: 70%;
    height: 98vh;
    margin: 0 auto;
    /* padding: 0px 10px 5px 10px; */
    display: flex;
    flex-direction: column;
    /* display: none; */
    background-color: lightblue;
}

.desk{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap:1em;
    height: 100%;
    padding: 0 10px 5px 10px;
}

.card{
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
    transition: .5s;
}

.card:hover{
    transform: scale(0.9);
}

.front,.back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 15%;
    transition: 1s;
    box-shadow: 5px 5px 5px black;
}

.front{
    background-image: url(img/back.jpg);
}

.back{
    color: black;
    transform: rotateY(180deg);
    font-size: 35px;
    background-color: lightgrey;
}

.back img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 15%;

}

.front-clicked{
    transform: rotateY(180deg);
}

.back-clicked{
    transform: rotateY(360deg);
}

.slider{
    position: relative;
    width: 80%;
    height: 44vh;
    margin: 0 auto 2vh auto;
    background-color: cadetblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}

.item{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.active-slide{
    visibility: visible;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.next, .prev{
    width: 20%;
    height: 100%;
    background-color: white;
    opacity: 0.1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 15px 0 0 15px ;
    background: linear-gradient(to right, white, rgba(255,245,215,0));
}

.prev{
    left: 0;
}

.next{
    right: 0;
    border-radius: 0 15px 15px 0;
    background: linear-gradient(to left, white, rgba(255,245,215,0))
}

.next:hover, .prev:hover{
    opacity: 0.7;
}

/* Game screen header */

.gs-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 5vh;
    /* border: 1px solid black; */
    padding: 0;
    margin-bottom: 5px;
    box-shadow: 0 2px 3px black;
}

.nav{
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.home:hover, .restart:hover{
    background-color: orange;
}