*{
    margin: 0;
    padding: 0;
}

.game{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
/* Start screen */
.start-screen{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    margin: 0 auto;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 45%;
    justify-content: center;
}

.categories div{
    width: 40%;
    height: 40%;
    background-color: khaki;
    margin: 15px 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    box-shadow: 5px 5px 5px black;
}

.decksize{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.decksize div{
    width: 18%;
    height: 50%;
    background-color: lightcoral;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    margin-left: 25px;
    box-shadow: 5px 5px 5px black;
}

.start{
    width: 85%;
    height: 20%;
    background-color: blueviolet;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
}

.active{
    border: 5px solid green;
    box-sizing: border-box;
}

.cat:hover, .size:hover, .start:hover{
    transform: scale(1.1);
}

/* Game screen */
.game-screen{
    width: 100%;
    height: 98vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap:1em;
    display: none;
}

.div{
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.card{
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
}

.front,.back{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 15%;
    transition: 1s;
    box-shadow: 5px 5px 5px black;
}

.front{
    background-image: url(img/back.jpg);
}

.back{
    color: black;
    transform: rotateY(180deg);
    font-size: 35px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 15%;
}

.front-clicked{
    transform: rotateY(180deg);
}

.back-clicked{
    transform: rotateY(360deg);
}

.desk-size{
    display: flex;
    align-items: center;
    height: 10vh;
}
